/node_modules
#/public/hot
#/public/storage
#/storage/*.key
/vendor
#.env
#.env.backup
#.phpunit.result.cache
#Homestead.json
#Homestead.yaml
#npm-debug.log
#yarn-error.log
#.editorconfig
#.env.example
#.gitattributes
#.gitignore
.idea/
#.styleci.yml
#app/
#artisan
#bootstrap/app.php
#bootstrap/cache/.gitignore
#composer.json
#composer.lock
#config/
#database/
#package.json
#phpunit.xml
#public/
#resources/
#routes/
#server.php
#storage/app/
storage/framework/.gitignore
storage/framework/cache/.gitignore
storage/framework/cache/data/.gitignore
storage/framework/sessions/.gitignore
storage/framework/testing/
#
#storage/logs/
#tests/
#webpack.mix.js
#yarn.lock
